# NOTE: This file is auto generated by OpenAPI Generator 7.1.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule KlaviyoAPI.Api.Reporting do
  @moduledoc """
  API calls for all endpoints tagged `Reporting`.
  """

  alias KlaviyoAPI.Connection
  import KlaviyoAPI.RequestBuilder

  @doc """
  Query Campaign Values
  Returns the requested campaign analytics values data<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `2/m`<br>Daily: `225/d`  **Scopes:** `campaigns:read`

  ### Parameters

  - `connection` (KlaviyoAPI.Connection): Connection to server
  - `revision` (String.t): API endpoint revision (format: YYYY-MM-DD[.suffix])
  - `campaign_values_request_dto` (CampaignValuesRequestDto): 
  - `opts` (keyword): Optional parameters
    - `:page_cursor` (String.t): For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination

  ### Returns

  - `{:ok, KlaviyoAPI.Model.PostCampaignValuesResponseDto.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec query_campaign_values(Tesla.Env.client, String.t, KlaviyoAPI.Model.CampaignValuesRequestDto.t, keyword()) :: {:ok, KlaviyoAPI.Model.GetAccounts4XxResponse.t} | {:ok, KlaviyoAPI.Model.PostCampaignValuesResponseDto.t} | {:error, Tesla.Env.t}
  def query_campaign_values(connection, revision, campaign_values_request_dto, opts \\ []) do
    optional_params = %{
      :page_cursor => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/campaign-values-reports/")
      |> add_param(:headers, :revision, revision)
      |> add_param(:body, :body, campaign_values_request_dto)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, KlaviyoAPI.Model.PostCampaignValuesResponseDto},
      {"4XX", KlaviyoAPI.Model.GetAccounts4XxResponse},
      {"5XX", KlaviyoAPI.Model.GetAccounts4XxResponse}
    ])
  end

  @doc """
  Query Flow Series
  Returns the requested flow analytics series data<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `2/m`<br>Daily: `225/d`  **Scopes:** `flows:read`

  ### Parameters

  - `connection` (KlaviyoAPI.Connection): Connection to server
  - `revision` (String.t): API endpoint revision (format: YYYY-MM-DD[.suffix])
  - `flow_series_request_dto` (FlowSeriesRequestDto): 
  - `opts` (keyword): Optional parameters
    - `:page_cursor` (String.t): For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination

  ### Returns

  - `{:ok, KlaviyoAPI.Model.PostFlowSeriesResponseDto.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec query_flow_series(Tesla.Env.client, String.t, KlaviyoAPI.Model.FlowSeriesRequestDto.t, keyword()) :: {:ok, KlaviyoAPI.Model.GetAccounts4XxResponse.t} | {:ok, KlaviyoAPI.Model.PostFlowSeriesResponseDto.t} | {:error, Tesla.Env.t}
  def query_flow_series(connection, revision, flow_series_request_dto, opts \\ []) do
    optional_params = %{
      :page_cursor => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/flow-series-reports/")
      |> add_param(:headers, :revision, revision)
      |> add_param(:body, :body, flow_series_request_dto)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, KlaviyoAPI.Model.PostFlowSeriesResponseDto},
      {"4XX", KlaviyoAPI.Model.GetAccounts4XxResponse},
      {"5XX", KlaviyoAPI.Model.GetAccounts4XxResponse}
    ])
  end

  @doc """
  Query Flow Values
  Returns the requested flow analytics values data<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `2/m`<br>Daily: `225/d`  **Scopes:** `flows:read`

  ### Parameters

  - `connection` (KlaviyoAPI.Connection): Connection to server
  - `revision` (String.t): API endpoint revision (format: YYYY-MM-DD[.suffix])
  - `flow_values_request_dto` (FlowValuesRequestDto): 
  - `opts` (keyword): Optional parameters
    - `:page_cursor` (String.t): For more information please visit https://developers.klaviyo.com/en/v2024-02-15/reference/api-overview#pagination

  ### Returns

  - `{:ok, KlaviyoAPI.Model.PostFlowValuesResponseDto.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec query_flow_values(Tesla.Env.client, String.t, KlaviyoAPI.Model.FlowValuesRequestDto.t, keyword()) :: {:ok, KlaviyoAPI.Model.GetAccounts4XxResponse.t} | {:ok, KlaviyoAPI.Model.PostFlowValuesResponseDto.t} | {:error, Tesla.Env.t}
  def query_flow_values(connection, revision, flow_values_request_dto, opts \\ []) do
    optional_params = %{
      :page_cursor => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/flow-values-reports/")
      |> add_param(:headers, :revision, revision)
      |> add_param(:body, :body, flow_values_request_dto)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, KlaviyoAPI.Model.PostFlowValuesResponseDto},
      {"4XX", KlaviyoAPI.Model.GetAccounts4XxResponse},
      {"5XX", KlaviyoAPI.Model.GetAccounts4XxResponse}
    ])
  end
end
